.exp-div1 {
  cursor: pointer;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.exp-div2 {
  margin: 25px;
  background-color: white;
}

.exp-div2-h {
  background-color: white;
}

.exp-div2-p {
  background-color: white;
}

#exp-div1-img {
  align-self: center;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

@media screen and (max-width: 900px) {
  .exp-div1 {
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }

  #exp-div1-img {
    padding-left: 0px;
    align-self: center;
    margin-top: 20px;
  }
}
