.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbtn {
  margin: 20px;
  color: #14401f;
  font-weight: bold;
}

#avatar {
  border-radius: 50%;
}

#resume-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  height: 40px;
  border: none;
  border-width: 3px;
  background-color: rgb(209, 245, 179);
  border-color: #14401f;
}

#home-icons {
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#home-main-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid black; */
}

* {
  background-color: #a7d993;
}
