.navbar {
  display: flex;
  flex-direction: row;
}

#nav {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

.navbtn {
  margin: 20px;
  color: #14401f;
  font-weight: bold;
}

#profile-div {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

#content-div {
  display: flex;
  flex-direction: column;
}

#avatar {
  border-radius: 50%;
}

#resume-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  height: 40px;
  border: none;
  border-width: 3px;
  background-color: rgb(209, 245, 179);
  border-color: #14401f;
}

#home-icons {
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#home-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid black; */
  /* border: 2px solid black; */
}

#home-main-div-div {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* border: 2px solid black; */
}

* {
  background-color: #a7d993;
}

#hello {
  font-weight: bold;
  font-size: 50px;
}

#para {
  font-weight: bold;
  font-size: 40px;
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
  }

  #home-main-div-div {
    margin-top: 10px;
    flex-direction: column;
  }

  #hello {
    font-size: 30px;
  }

  #para {
    font-size: 20px;
  }

  #nav {
    flex-direction: column;
  }

  #profile-div {
    margin-left: 0px;
  }

  #content-div {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }
}
